.advantages
    min-height: 1335px
    display: block
    &__title
        font-size: 30px
        font-weight: 700
        line-height: 35px
        color: #000000
        padding-top: 80px
        padding-left: 383px
    &__list
        margin-top: 45px
    &__wrapper
        margin-top: 1px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        width: 1140pxs
        flex-wrap: wrap
    &__descr  
        margin-top: -200px  
        padding-left: 140px  
        position: absolute
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        z-index: 1
        
        &__color
            margin-left: 0px 
            margin-top: -235px
            background-color: rgba(0,0,0,.6);
            height: 156px
            width: 570px
            position: absolute
            z-index: 0

