.delivery
    padding: 51px 391px 59px 390px
    &__title
        text-align: center
        color: #2e2e2e
        font-family: Roboto
        font-size: 28px
        font-weight: 700
        line-height: 23px
        text-transform: uppercase
        margin-bottom: 20px
    &__divider
        
        width: 148px
        height: 1px
        background-color: #dc5238
        margin: 0 auto
    &__descr
        padding-top: 15px
        color: #2e2e2e
        font-family: Roboto
        font-size: 22px
        font-weight: 300
        line-height: 24px
        text-align: center
    &__wrapper
        padding-top: 37px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start

    &__box__title
        padding-top: 19px
        width: 384px
        height: 130px
        text-align: center
        color: #ec644b
        font-family: "Roboto - Bold"
        font-size: 18px
        font-weight: 700
    &__box__descr
        padding-top: 7px
        color: #3a3a3a
        font-family: Roboto
        font-size: 14px
        font-weight: 300
        line-height: 22px
   
@media screen and (max-width: 1200px)
  .delivery
    padding: 51px 25px 59px 25px
    
@media screen and (max-width: 991px)
    .delivery__img
        width: 50%
        display: flex
        margin: 0 auto
    .delivery__box__title
        width: 313px

    
@media (max-width: 991px) and (max-width: 767px)
    .delivery
       padding: 51px 25px 80px 25px
    .delivery__title
        font-size: 25px
    .delivery__descr
        font-size: 19px
    
    .delivery__box__title
        width: 246px

//@media {max-width:767px}