.header
    margin: 0 auto
    min-height: 85px
    width: 1140px
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    .country
        margin: 5px 11px
        float: left
    &__text
        color: #242424
        line-height: 18px
        height: 70px
        width: 200px
        padding-left: 50px
        
    &__name
        font-size: 14px
        font-weight: 700
        height: 10px
    &__phone, &__addres
        font-weight: 300